---
import '../styles/global.css';
import MainLayout from '../layouts/main.astro';
---

<MainLayout content={{ title: 'Home' }}>
	<div class="flex flex-col items-center justify-center h-screen">
		<h1 class="font-medium text-2xl">Hello World</h1>
	</div>
</MainLayout>
